<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<!-- Plotly chart will be drawn inside this DIV -->
<div id="graph"></div>
<script>
  function gaussianRand() {
    var rand = 0;
    for (var i = 0; i < 6; i += 1) {
      rand += Math.random();
    }
    return (rand / 6)-0.5;
  }

  var X = [],
    Y = [],
    n = 100000,
    i;

  for (i = 0; i < n; i += 1) {
    X.push(gaussianRand());
    Y.push(gaussianRand());
  }

  var data = [{
    type: "scattergl",
    mode: "markers",
    marker: {
      line: {
        width: 1,
        color: '#404040'}
    },
    x: X,
    y: Y
  }]

  Plotly.plot('graph', data, {})
</script>
</body>

